* {
  font-family: "terminal-font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #ffffff;
}

window#waybar.hidden {
  opacity: 0;
}

#workspaces button {
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0 5px;
  font-weight: bolder;
  min-width: 20px;
  color: #ffffff;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover,
#workspaces button.active:hover {
  color: #000000;
}

#clock,
#pulseaudio,
#mode,
#wireplumber.muted,
#cpu,
#tray,
#language,
#window,
#custom-notifications,
#workspaces button.focused,
#workspaces button.active,
#memory {
  background-color: alpha(#000000, 0.9);
  color: #ffffff;
  padding: 0 10px;
  margin: 2px 4px 5px 4px;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 1px alpha(#000000, 0.7);
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
