window {
  margin: 0px;
  border: 2px solid #d4d4d5;
  background-color: #101317;
  border-radius: 16px;
}

#input {
  margin: 5px;
  border-radius: 8px;
  border: none;
  color: #f8f8f2;
  background-color: #44475a;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #101317;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #101317;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry.activatable #text {
  outline: none;
  color: #101317;
}

#entry>* {
  color: #f8f8f2;
}

#entry:selected {
  outline: none;
  border-radius: 8px;
  background-color: #44475a;
}

#entry:selected #text {
  font-weight: bold;
}
